/* Efeito Glow */
.glow {
    text-shadow: 0 0 15px #40e07d;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #40e07d; }
    to { text-shadow: 0 0 20px #40e07d, 0 0 30px #40e07d; }
}

/* Estilização personalizada */
.nav-link {
    transition: all 0.3s ease!important;
    position: relative;
}

.nav-link:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px #40e07d;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #40e07d;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

pre {
    font-size: 0.6rem;
    background-color: #001a00!important;
    border: 1px solid #40e07d!important;
    padding: 1rem!important;
}

